{% extends "layout.jinja2" %} 

{% block content%}
<div class="content">
 <form>
  <div class="form-group">
    <input type="text" class="form-control" id="query"  placeholder="Search">
  </div>
  <button type="submit" class="btn btn-success btn-block">Search</button>
</form>
{#    <h1><span class="font-semi-bold">Pyramid</span> <span class="smaller">Starter scaffold</span></h1>#}
{#    <p class="lead">Welcome to <span class="font-normal">{{project}}</span>, an&nbsp;application generated&nbsp;by<br>the <span class="font-normal">Pyramid Web Framework 1.8.4</span>.</p>#}
</div>
{% endblock content %}
