{% extends "layout.jinja2" %} 

{% block content%}
<div class="content">
<h4>به نام خدا</h4>
پروژه درس موتور جستجو<br>
<ul>
<li>سید حمید مهدوی</li>
<li>پیمان زینلی</li>
<li>مجید رحیم دادی</li>
</ul>
<br>
 <form method="post">
  <div class="form-group">
    <input type="text" class="form-control" name="query"  placeholder="جستجو" value="{{ query }}">
  </div>
  <button type="submit" class="btn btn-success btn-block">جستجو</button>
</form>
{#    <h1><span class="font-semi-bold">Pyramid</span> <span class="smaller">Starter scaffold</span></h1>#}
{#    <p class="lead">Welcome to <span class="font-normal">{{project}}</span>, an&nbsp;application generated&nbsp;by<br>the <span class="font-normal">Pyramid Web Framework 1.8.4</span>.</p>#}

{#    {{ page_index }}#}

{% if results %}
    <h2>نتایج:</h2>

    <table class="table" id="results">
    {% for result in results %}
        <tr>
        <td >
        <div class="result_link">

            <a  href="{{ page_index[result[0]] }}"> {{ page_index[result[0]] }}</a>
        </div>
        <h4>کلمات و امتیازات:</h4>
        <ul>


            {% for term in result[1] %}
                <li>{{ term[0] }} : {{ term[1] }}</li>
                {% endfor %}
        </ul>
        </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}
</div>
{% endblock content %}
